header
  ul
    li#title
      h3 Dashboard
    li
      img(src="img/bbn_bco.png" alt="")
    li
      img(src="img/anova_bco.png" alt="")
  ul.secondHead
    li.usercircle
      h5
        a(href="admin.html") 
          i(class="fa fa-user-circle" aria-hidden="true") My Account
    li.notif
      h5
        i(class="fa fa-envelope" aria-hidden="true") Notifications
    div(class="popup" id="notificationsContainer")
        div
          span
            title Title Alert
          span
            p Message Description
