header
  ul#title
    li
      img(src="img/bbn_bco.png" alt="")
    li
      img(src="img/anova_bco.png" alt="")
      
    ul.secondHead
      li.usercircle
        h5
          a(href="useradmin.html")
            i.fa.fa-user-circle
            | User admin
      li.usercircle
        h5
          a(href="admin.html") 
            i.fa.fa-user-circle
            | My Profile
      li.notif
        h5
          i.fa.fa-envelope
          | Notifications
      div.popup#notificationsContainer
          div
            span
              title Title Alert
            span
              p Message Description
