.extendedCheckbox {
  position: relative;
  display: inline-block;
  margin-right: 8px;

  input {
    display: none;

    &:checked + .box {
        background-color: $secondary;
        border-color: $secondary;

        &::before {
          background-color: white;
          transform: translate(12px);
      }
    }
  }

  .box {
    display: inline-block;
    width: 28px;
    height: 16px;
    background-color: $complement;
    border: 1px solid $complement1;
    border-radius: 8px;
    position: relative;
    transition: all .3s linear;
    margin-right: 8px;
    vertical-align: middle;

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        background-color: gray;
        border-radius: 100%;
        position: absolute;
        left: 2px;
        top: 2px;
        transition: all .3s linear;
    }
  }

  span {
    vertical-align: middle;
  }
}

button,
.button {
  color: $secondary;
  background: transparent;
  font-family: $textFont-Black;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid $secondary;
  min-width: 200px;
  text-align: center;
  padding: 2px 0;
  display: inline-block;
  min-height: 30px;
  text-decoration: none;
  line-height: 24px;

  &.primary {
    color: $complement;
    background: $secondary;
  }
}

.form-responsive {
  width: 100%;

  > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      width: 100%;
      display: flex;
      padding: 0 16px 16px;
      @media (min-width: 801px) {
        width: 50%;
      }
      @media (min-width: 1401px) {
        width: 33.333%;
      }

      label,
      span {
        width: 40%;
      }

      input,
      ul:not(.k-slider-items) {
        width: 60%;

        .extendedCheckbox {
          width: 100%;
        }
      }
    }
  }
}

.button-area {
  text-align: right;
  margin-top: 32px;
  padding: 16px;
  background-color: rgba($complement-darker,.04);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 4px 16px;
  font-size: 14px;
  font-family: $textFont-Light;
  border-radius: 4px;
  border: 1px solid $complement-medium;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../img/chevron.png');
  border: 1px solid $complement-medium;
  border-radius: 5px;
  padding: 3px 16px 5px;
  font-size: 14px;
  line-height: 12px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center right 16px;
}
