header {
  width: 100%;
  margin: 0;
  padding: 0 16px;
  background-color: $secondary1;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      color: white;

      &:first-child {
        width: 100px;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }

      &:not(:first-child) {
        max-width: 100px;
        text-align: right;
        line-height: 0;
        padding-left: 16px;
      }

      &.notif {
        width: 200px;
        max-width: 500px;
        position: relative;
      }

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .secondHead {
    h5 {
      width: 100%;
      color: white;
      text-align: right;
      margin: 0;
      font-size: 16px;
      padding: 8px 0;

      &:hover + #notificationsContainer {
          transform: translate(0px);
          opacity: 1;
          padding: 8px;
          height: auto;
          overflow: visible;
      }

      .fa.fa-user-circle {
        display: none;
      }

      .fa.fa-envelope {
          position: relative;
      }

      .fa::after {
        content: "\f06a";
        position: absolute;
        left: -8px;
        top: -5px;
        width: 10px;
        height: 10px;
        color: $warning;
      }

      .fa-envelope::before {
          content: "\f0e0";
      }
    }

    #notificationsContainer {
      background-color: #BFBFBF;
      width: 100%;
      height: 0;
      position: absolute;
      padding: 0;
      right: -4px;
      top: 36px;
      z-index: 999;
      transition: all .3s ease;
      transform: translate(0px, -20px);
      opacity: 0;
      overflow: hidden;
      line-height: 12px;

      &:hover{
        transform: translate(0px);
        opacity: 1;
        padding: 8px;
        height: auto;
        overflow: visible;
      }

      &::before {
        content: '';
        position: absolute;
        right: 12px;
        top: -6px;
        height: 0;
        width: 0;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent $complement1;
        border-style: solid;
      }
    }
  }
}
