h4 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: $secondary;

  &.table-header {
    padding: 8px 16px;
  }

  & + .col-container {
    padding: 0;
  }
}

p {
  color: $secondary;
  font-size: 12px;
  background-color: complement;
  margin: 3px 0;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 8px 16px;
  }

  th {
    background-color: rgba($complement-darker,.04);
  }

  tr:nth-child(2n) {
    background-color: #fff;
  }
}

.options {
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: 8px;
  }
}
