h4 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: $secondary;
}

p {
  color: $secondary;
  font-size: 12px;
  background-color: complement;
  margin: 3px 0;
}

table {
    width: 100%;
    text-align: center;
}
