.form-responsive > ul > li.hidden-password {
  transition: all .3s linear;
  opacity: 0;
  padding: 0;
  display: none;

  &.active {
    padding: 0 16px 16px;
    display: flex;
    opacity: 1;
  }
}
