// colors

$primary: #90E6D4; /* green light */
$secondary: #178AB9; /* blue */
$secondary1: #197C68; /* green */

$complement: #F7F8F9; /* gray */
$complement-medium: #DADBDF;
$complement1: #BFBFBF; /* gray_dark */
$complement-darker: #636363;

$warning: #FEC52E; /* yellow */

// fonts

$textFont: 'Avenir-Roman';
$textFont-BoldOblique: 'Avenir-HeavyOblique';
$textFont-Book: 'Avenir-Book';
$textFont-Medium: 'Avenir-Medium';
$textFont-Oblique: 'Avenir-Oblique';
$textFont-Light: 'Avenir-Light';
$textFont-Heavy: 'Avenir-Heavy';
$textFont-LightOblique: 'Avenir-LightOblique';
$textFont-MediumOblique: 'Avenir-MediumOblique';
$textFont-BlackOblique: 'Avenir-BlackOblique';
$textFont-BookOblique: 'Avenir-BookOblique';
$textFont-Black: 'Avenir-Black';
