doctype html
html
  include ../jade/head.jade
  body
    div
      include ../jade/header.jade
      section.content-area
        h1 Profile
        form.form-responsive
          ul.col.no-border
            li
              label First Name
              input(type="text" value="Antonio")
            li
              label Last Name
              input(type="text" value="Campa")
            li
              label e-Mail
              input(type="email" value="antonio.campa@example.com")
            li
              label Title
              select
                option(disabled selceted) Select one
                option Ms.
                option Mrs.
                option Dr.
                option Mr.
            li
              label Password
              input(type="password" value="123456789")
            li
              button#passwordChange Change password
            li.hidden-password
              label New Password
              input(type="password" placeholder="******")
            li.hidden-password
              label Confirm password
              input(type="password" placeholder="******")
          .button-area.col.no-border
            button Save
    script(type="text/javascript" src="js/app.js")
    script.
      $(()=> {adminForm();})
      
