@font-face {
  font-family: "Avenir-Roman";
  src: url("../fonts/Avenir-Roman.eot");
  src: url("../fonts/Avenir-Roman.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff"), url("../fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-HeavyOblique";
  src: url("../fonts/Avenir-HeavyOblique.eot");
  src: url("../fonts/Avenir-HeavyOblique.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-HeavyOblique.woff2") format("woff2"), url("../fonts/Avenir-HeavyOblique.woff") format("woff"), url("../fonts/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.eot");
  src: url("../fonts/Avenir-Book.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.eot");
  src: url("../fonts/Avenir-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Oblique";
  src: url("../fonts/Avenir-Oblique.eot");
  src: url("../fonts/Avenir-Oblique.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Oblique.woff2") format("woff2"), url("../fonts/Avenir-Oblique.woff") format("woff"), url("../fonts/Avenir-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.eot");
  src: url("../fonts/Avenir-Light.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light.woff2") format("woff2"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.eot");
  src: url("../fonts/Avenir-Heavy.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-LightOblique";
  src: url("../fonts/Avenir-LightOblique.eot");
  src: url("../fonts/Avenir-LightOblique.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-LightOblique.woff2") format("woff2"), url("../fonts/Avenir-LightOblique.woff") format("woff"), url("../fonts/Avenir-LightOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-MediumOblique";
  src: url("../fonts/Avenir-MediumOblique.eot");
  src: url("../fonts/Avenir-MediumOblique.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-MediumOblique.woff2") format("woff2"), url("../fonts/Avenir-MediumOblique.woff") format("woff"), url("../fonts/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-BlackOblique";
  src: url("../fonts/Avenir-BlackOblique.eot");
  src: url("../fonts/Avenir-BlackOblique.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-BlackOblique.woff2") format("woff2"), url("../fonts/Avenir-BlackOblique.woff") format("woff"), url("../fonts/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-BookOblique";
  src: url("../fonts/Avenir-BookOblique.eot");
  src: url("../fonts/Avenir-BookOblique.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-BookOblique.woff2") format("woff2"), url("../fonts/Avenir-BookOblique.woff") format("woff"), url("../fonts/Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Black";
  src: url("../fonts/Avenir-Black.eot");
  src: url("../fonts/Avenir-Black.eot#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* green light */
/* blue */
/* green */
/* gray */
/* gray_dark */
/* yellow */
body {
  width: 100%;
  height: 100%;
  background-color: #F7F8FC;
  margin: 0;
  font-family: "Avenir-Light";
  color: #636363; }
  body * {
    box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Avenir-Medium"; }

ul {
  list-style: none; }

.content {
  padding: 0 10px; }

.content-area {
  padding: 16px;
  position: relative; }
  .content-area h1 {
    margin: 0 0 16px;
    font-size: 30px; }

header a {
  color: white;
  text-decoration: none; }

.no-border {
  border: 0 none !important; }

.hidden {
  display: none; }

.col-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 16px 8px 0; }
  .col-container .col {
    width: calc(100% - 16px);
    margin: 0 8px 16px;
    border: 1px solid #178AB9;
    border-radius: 5px;
    position: relative; }
    .col-container .col.col-2 {
      width: calc(50% - 16px);
      position: relative; }

.k-content + img {
  position: absolute;
  left: 46px;
  top: 54px;
  height: 55px;
  width: calc(100% - 52px);
  opacity: .15;
  z-index: -1; }

header {
  max-width: 100%;
  max-height: 72px;
  margin: 0;
  padding: 0 16px;
  background-color: #197C68; }
  header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-self: stretch; }
    header ul li {
      display: flex;
      align-items: center;
      color: white; }
      header ul li:first-child {
        max-width: 250px;
        color: white; }
      header ul li:not(:first-child) {
        max-width: 250px;
        text-align: right;
        line-height: 0;
        padding-left: 16px; }
      header ul li.notif {
        max-width: 250px;
        position: relative; }
      header ul li img {
        width: 72px;
        height: auto;
        max-width: 100%;
        max-height: 100%; }
  header .secondHead {
    text-align: right; }
    header .secondHead h5 {
      width: 100%;
      color: white;
      text-align: rigth;
      margin: 0;
      font-size: 16px;
      padding: 8px 0; }
      header .secondHead h5:hover + #notificationsContainer {
        transform: translate(0px);
        opacity: 1;
        padding: 8px;
        height: auto;
        overflow: visible; }
      header .secondHead h5 .usercircle
.fa.fa-user-circle {
        position: relative; }
      header .secondHead h5 .fa.fa-envelope {
        position: relative; }
      header .secondHead h5 .fa::after {
        content: "\f06a";
        position: absolute;
        left: -8px;
        top: -5px;
        width: 10px;
        height: 10px;
        color: #FEC52E; }
      header .secondHead h5 .fa-envelope::before {
        content: "\f0e0"; }
    header .secondHead #notificationsContainer {
      background-color: #BFBFBF;
      width: 100%;
      height: 0;
      position: absolute;
      padding: 0;
      right: -4px;
      top: 36px;
      z-index: 999;
      transition: all .3s ease;
      transform: translate(0px, -20px);
      opacity: 0;
      overflow: hidden;
      line-height: 12px; }
      header .secondHead #notificationsContainer:hover {
        transform: translate(0px);
        opacity: 1;
        padding: 8px;
        height: auto;
        overflow: visible; }
      header .secondHead #notificationsContainer::before {
        content: '';
        position: absolute;
        right: 12px;
        top: -6px;
        height: 0;
        width: 0;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent #BFBFBF;
        border-style: solid; }

#logIn {
  max-width: 400px;
  padding: 10px;
  background-color: #F7F8FC;
  border-radius: 3px;
  border: 1px solid;
  border-color: #178AB9; }
  #logIn figure {
    text-align: center;
    margin-top: 0; }
    #logIn figure img {
      width: 250px; }
  #logIn ul {
    padding: 10px;
    list-style: none;
    text-align: center; }
    #logIn ul input {
      font-family: "Avenir-Roman";
      font-size: 12px;
      border-radius: 3px;
      border: 1px solid;
      border-color: #178AB9;
      height: 24px;
      width: 200px;
      text-align: center;
      margin: 10px; }
      #logIn ul input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(23, 138, 185, 0.7); }
      #logIn ul input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(23, 138, 185, 0.7); }
  #logIn button {
    margin: 10px; }

.appContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100Vh; }

.titleLogin {
  font-family: "Avenir-Roman";
  font-weight: bold;
  font-size: 20px;
  color: #178AB9;
  text-align: center; }

.textLogin {
  font-family: "Avenir-Roman";
  font-size: 14px;
  color: #178AB9;
  text-align: center;
  margin: 10px 0; }

a {
  color: #BFBFBF; }

h4 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #178AB9; }

p {
  color: #178AB9;
  font-size: 12px;
  background-color: complement;
  margin: 3px 0; }

table {
  width: 100%;
  text-align: center; }

.extendedCheckbox {
  position: relative;
  display: inline-block;
  margin-right: 8px; }
  .extendedCheckbox input {
    display: none; }
    .extendedCheckbox input:checked + .box {
      background-color: #178AB9;
      border-color: #178AB9; }
      .extendedCheckbox input:checked + .box::before {
        background-color: white;
        transform: translate(12px); }
  .extendedCheckbox .box {
    display: inline-block;
    width: 28px;
    height: 16px;
    background-color: #F7F8FC;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    position: relative;
    transition: all .3s linear; }
    .extendedCheckbox .box::before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      background-color: gray;
      border-radius: 100%;
      position: absolute;
      left: 2px;
      top: 2px;
      transition: all .3s linear; }

button {
  font-family: "Avenir-Black";
  font-size: 14px;
  color: #F7F8FC;
  border-radius: 3px;
  border: 1px solid #178AB9;
  width: 200px;
  text-align: center;
  padding: 2px 0;
  background: #178AB9;
  display: inline-block; }

.form-responsive {
  width: 100%; }
  .form-responsive > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
    .form-responsive > ul > li {
      width: 100%;
      display: flex;
      padding: 0 16px 16px; }
      @media (min-width: 801px) {
        .form-responsive > ul > li {
          width: 50%; } }
      @media (min-width: 1401px) {
        .form-responsive > ul > li {
          width: 33.333%; } }
      .form-responsive > ul > li label {
        width: 40%; }
      .form-responsive > ul > li input {
        width: 60%; }

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 4px 16px;
  font-size: 14px;
  font-family: "Avenir-Light";
  border-radius: 4px;
  border: 1px solid #DADBDF; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/chevron.png");
  border: 1px solid #DADBDF;
  border-radius: 5px;
  padding: 3px 16px 5px;
  font-size: 14px;
  line-height: 12px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center right 16px; }
